*{
    padding: 0;
    margin: auto;
    list-style: none;
    width: 1000px
}

header {
    height: 200px;
    border: 1px solid black;
    background: grey;
    position: relative;
}

.redes{
    width: 32px;
    height: 32px;
    background: white;
    border-radius: 100%;
    border: 1px solid black;
    position: absolute;
}

#red1{
    bottom: 20px;
    right: 250px;
}
#red2{
    bottom: 20px;
    right: 200px;
}
#red3{
    bottom: 20px;
    right: 150px;
}

#logo{
    position: absolute;
    top: 20px;
    left: 20px;
    height: 150px;
    width: 300px;
    background: white;
    border: 1px solid black;
}

nav{
    height: 100px;
    margin: 20px auto;
    position: relative;
}

.nave{
    float: left;
    height: 80px;
    width: 495px;
    background: white;
    border: 1px solid black;
    margin: 10px 1px;
    text-align: center;
    line-height: 80px;
}

article {
    height: 400px;
    border: 1px solid black;
    background: gray;
    position: relative;
}

footer{
    height: 50px;
    margin:20px auto;
    background: grey;
    border: 1px solid black;
    position: relative;
}

aside{
    top: 0;
    left: 0;
    height: 400px;
    width: 200px;
    background: white;
    position: absolute;
}

h2{
  font-family: "BBH Hegarty", sans-serif;
  font-weight: 400;
  font-style: normal;
}

article aside h2{
    text-align: center;
    
}
