*{
    padding: 0;
    margin: auto;
    list-style: none;
    width: 1000px
}

header{
    width: 1000px;
    height: 200px;
    position: relative;
    margin: 20px auto;
    background: grey;
    border: 1px solid black;
}

#logo{
    width: 250px;
    height: 100px;
    position: absolute;
    top: 20px;
    left: 20px;
    background: white;
    border: 1px solid black;
    border-radius: 50%;
}

.redes{
    width: 42px;
    height: 42px;
    position: absolute;
    background: white;
    border: 1px solid black;
    border-radius: 100%;
}

#red1{
    bottom: 10px;
    right: 150px;
}#red2{
    bottom: 10px;
    right: 100px;
}#red3{
    bottom: 10px;
    right: 50px;
}

nav{
    width: 1000px;
    height: 80px;
    position: relative;
    margin: 0 auto;
    background: grey;
    border: 1px solid black;
}

.na{
    float: left;
    width: 496px;
    height: 80px;
    background-color:gainsboro;
    margin: 0 2px;
}

#top{
    width: 1000px;
    height: 120px;
    position: relative;
    margin: 20px auto;
    background: grey;
    border: 1px solid black;
}
#top ul li{
    float: left;
    width: 246px;
    height: 120px;
    background-color: gainsboro;
    margin: 0 2px;

}


section{
    width: 1000px;
    height: 400px;
    position: relative;
    margin: 0 auto;
    background: grey;
    border: 1px solid black;
}

#txt{
    width: 750px;
    height: 400px;
    position: absolute;
    top: 0;
    right: 0;
    background: darkgray;
}

#asd{
    width: 250px;
    height: 400px;
    position: absolute;
    top: 0;
    left: 0;
    background: gray;
}

footer{
    width: 1000px;
    height: 50px;
    position: relative;
    margin: 20px auto;
    background: grey;
    border: 1px solid black;
}
