*{
    padding: 0;
    margin: auto;
    list-style: none;
    width: 1000px
}

header{
    width: 1000px;
    height: 200px;
    position: relative;
    margin: 20px auto;
}

#logo{
    width: 250px;
    height: 100px;
    position: absolute;
    top: 20px;
    left: 20px;
    background: white;
    border: 1px solid black;
    border-radius: 50%;
}

.redes{
    width: 42px;
    height: 42px;
    position: absolute;
    background: white;
    border: 1px solid black;
    border-radius: 100%;
}

#red1{
    bottom: 10px;
    right: 150px;
}#red2{
    bottom: 10px;
    right: 100px;
}#red3{
    bottom: 10px;
    right: 50px;
}

nav{
    width: 1000px;
    height: 80px;
    position: relative;
    margin: 0 auto;
}

.na{
    float: left;
    width: 496px;
    height: 80px;
    background-color:gray;
    margin: 0 2px;
    text-align: center;
    line-height: 80px;
}

#top{
    width: 1000px;
    height: 120px;
    position: relative;
    margin: 20px auto;
    }

#top ul li{
    float: left;
    width: 246px;
    height: 120px;
    background-color: gainsboro;
    margin: 0 2px;
    text-align: center;
    line-height: 120px;
}


section{
    width: 1000px;
    height: 400px;
    position: relative;
    margin: 0 auto;
    display: flex;
}

#txt{
    background: darkgray;
    flex: 3;
    min-width: 0;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: hidden;
}

section article form{
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100px;
}

section article form input{
    margin: 0 auto;

}

#asd{
    flex: 1;
    min-width: 0;
    height: 100%;
    overflow: hidden;
}

#asd ul {
    margin: 0;
    padding: 0;
    width: 100%;
}

#asd ul li{
    box-sizing: border-box;
    padding: 10px;
    background-color: gray;
    margin: 2px 10px;
    width: auto;
    word-wrap: break-word;
    
}

footer{
    width: 1000px;
    height: 50px;
    position: relative;
    margin: 20px auto;
    background: grey;
    border: 1px solid black;
}
