*{
    padding: 0;
    margin: auto;
    list-style: none;
    width: 1000px
}

header{
    width: 1000px;
    height: 200px;
    position: relative;
    margin: 20px auto;
    background: grey;
    border: 1px solid black;
}

#logo{
    width: 250px;
    height: 100px;
    position: absolute;
    top: 20px;
    left: 20px;
    background: white;
    border: 1px solid black;
}

nav{
    width: 1000px;
    height: 80px;
    position: relative;
    margin: 0 auto;
    background: grey;
    border: 1px solid black;
}

#top{
    width: 1000px;
    height: 120px;
    position: relative;
    margin: 20px auto;
    background: grey;
    border: 1px solid black;
}

section{
    width: 1000px;
    height: 400px;
    position: relative;
    margin: 0 auto;
    background: grey;
    border: 1px solid black;
}

footer{
    width: 1000px;
    height: 50px;
    position: relative;
    margin: 20px auto;
    background: grey;
    border: 1px solid black;
}
