*{
    padding: 0;
    margin: auto;
    list-style: none;
    width: 1000px;
}

header {
    height: 200px;
    border: 1px solid black;
    margin:20px auto;
    background: grey;
    position: relative;
}

.redes{
    width: 32px;
    height: 32px;
    border: white;
    border-radius: 100%;
    border: 1px solid black;
}