*{
    padding: 0;
    margin: 0;
    list-style: none;
}

header {
    height: 200px;
    width: 1000px;
    border: solid 1px black;
    margin: 20px auto;
    background: grey;
    position: relative;
}